<!doctype html>
<html>
<head>
	<title>Komponenty v Nette Frameworku | Poslední sobota 2+0+2+0+2×0+2</title>
	<link rel="stylesheet" href="{$basePath}/css/screen.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
</head>

<body>

	<div class="nav">[<a n:href="Demo:">Demo</a>] [<a n:href="Article:overview">Články</a>]</div>

	{include #content}

</body>
</html>
