{block content}

    <h1>{$article->title}</h1>

    {* Vypsání escapovaného obsahu článku se zachováním odřádkování. *}
    {$article->content|breaklines}

    {* Vykreslení komponenty comments, ekvivalent $presenter['comments']->render() *}
    {control comments}

{/block}
