{block #content}

    <h1>{$article->title}</h1>

    {* Vypsání escapovaného obsahu článku se zachováním odřádkování. Viz CommentsControl.latte pro podrobné vysvětlení. *}
    {!$article->content|escape|nl2br}

    {* Vykreslení komponenty comments, ekvivalent $presenter['comments']->render() *}
    {control comments}

{/block}
