{block #content}

    <h1>{$article->title}</h1>

    {* Vypsání escapovaného obsahu článku se zachováním odřádkování. *}
    {!$article->content|escape|nl2br}

    {* Vykreslení komponenty comments, ekvivalent $this['comments']->render() *}
    {control comments}

{/block}
