{block content}

	<h1>Demo</h1>

	{* Vykreslí komponentu s názvem root, vytvořenou pomocí createComponentRoot *}
	{control root}

	{* Vykreslí komponentu c, která se nachází uvnitř komponenty root *}
	{control root-c}

{/block}
